<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Zoo </title>
    <link rel="stylesheet" href="/stylesheet.css">
</head>
<body>

<div class="container">


    <h1>Create your own Zoo</h1>

    <div>
        <h2>Create your own Zoo:</h2>
    </div>

    <form action="/add-animal" method="post">

        <label for="species">Select an Animal: </label>
        <select name="species" id="species" required>
            <option value="Elephant"> Elephant</option>
            <option value="Lion">Lion</option>
            <option value="Zebra">Zebra</option>
            <option value="Giraph">Giraffe</option>
            <option value="Crocodile">Crocodile</option>
            <option value="Hyena">Hyeana</option>
        </select>

        <label for="maleCount">Number of males: </label>
        <input type="number" id="maleCount" name="maleCount" min="0" required>

        <label for="femaleCount">Number of males: </label>
        <input type="number" id="femaleCount" name="femaleCount" min="0" required>

        <button type="add-animal">Add Animal</button>

        >
    </form>

    <div>Here is your zoo:</div>

    <br>   <br>   <br>   <br>   <br>   <br>   <br>   <br>



    <div>
        <h2>Or learn more about the animals before you add them: </h2>
    </div>

    <div class="marginb-box"></div>

    <div class="picture-grid">

        <div>
            <p class="animal-name">Elephant</p>
            <img src="/img/el2.avif" alt="Elephant">
        </div>

        <div>
            <p class="animal-name">Lion</p>
            <img src="/img/020_The_lion_king_Snyggve_in_the_Serengeti_National_Park_Photo_by_Giles_Laurent.jpg"
                 alt="Lion">
        </div>


        <div>
            <p class="animal-name">Zebra</p>
            <img src="/img/download.jpeg" alt="Zebra">
        </div>

        <div>
            <p class="animal-name">Giraph</p>
            <img src="/img/giraf-b061869f78dbde917a4961ceda7c502e.jpg" alt="giraf">
        </div>

        <div>
            <p class="animal-name">Crocodile</p>
            <img src="/img/large-American-alligator-Alligator-mississippiensis-in-Myakka-River-State-Park-wetland-and-marsh-Sarasota-Florida.webp"
                 alt="Crocodile">
        </div>

        <div>
            <p class="animal-name">Hyena</p>
            <img src="/img/Ca5c8d994b7e3c9b29d6ea3a60ac619c.webp" alt="Hyena">
        </div>

    </div>

</div>

</body>
</html>