<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Zoo </title>
    <link rel="stylesheet" href="/stylesheet.css">
</head>
<body>

<div class="container"> <!-- wrapper omkring alt indhold-->

    <h1>Create your own Zoo</h1>


    <div class="center-container">
        <h2>Start by adding Animals to your Zoo: </h2>
        <br>


        <form action="/addAnimal" method="post"> <!-- here is the command to the controller-->

            <div class="animals-input-container">
                <div class="grid-container">

                    <div class="label-container">
                        <label class="label" for="species">Select an Animal: </label>
                        <label class="label" for="maleCount">Number of males: </label>
                        <label class="label" for="femaleCount">Number of females: </label>
                    </div>

                    <div class="input-container">
                        <select name="species" id="species" required>
                            <option value="Elephant">Elephant</option>
                            <option value="Lion">Lion</option>
                            <option value="Zebra">Zebra</option>
                            <option value="Giraph">Giraffe</option>
                            <option value="Crocodile">Crocodile</option>
                            <option value="Hyena">Hyeana</option>
                        </select>
                        <input type="number" id="maleCount" name="maleCount" min="0" required>
                        <input type="number" id="femaleCount" name="femaleCount" min="0" required>
                    </div>

                    <br>

                    <div class="button-container">
                        <button class="add-animals-btn" type="submit">Add Animal(s)</button>
                    </div>
                </div>
            </div>
        </form>


        <br>


        <div class="zoo-list">
            <h2>Your Zoo has the following animals:</h2>
            <div class="animal-cards-container">
                <div class="animal-card" th:each="animal : ${animals}"> <!-- for loop, som kører og adder de forskellige dyr-->

                    <div class="animal-details">
                        <p class="animal-name" th:text="${animal.species}"></p>
                        <p class="animal-count"
                           th:text="'Males: ' + ${animal.maleCount} + ' Females: ' + ${animal.femaleCount}"></p>
                    </div>
                    <form action="/deleteAnimal" method="post" style="display:inline;">  <!-- igen det er her man linker til controlleren, som sletter dyr-->
                        <input type="hidden" name="species" th:value="${animal.species}" />
                        <button type="submit" class="delete-animal-btn" >Delete</button>
                    </form>
                    
                </div>
            </div>


        </div>
    </div>


    <br> <br>


    <div>
        <h2>Or you can learn more about the animals before you add them: </h2>
    </div>


    <div class="picture-grid">

        <div>

            <p class="animal-name">Elephant</p>
            <a href="/elephant">
            <img src="/img/el2.avif" alt="Elephant">
            </a>
        </div>

        <div>
            <p class="animal-name">Lion</p>
            <a href="/lion">
            <img src="/img/020_The_lion_king_Snyggve_in_the_Serengeti_National_Park_Photo_by_Giles_Laurent.jpg"
                 alt="Lion">
            </a>
        </div>


        <div>
            <p class="animal-name">Zebra</p>
            <a href="/zebra">
            <img src="/img/download.jpeg" alt="Zebra">
            </a>
        </div>

        <div>
            <p class="animal-name">Giraph</p>
            <a href="/giraph">
            <img src="/img/giraf-b061869f78dbde917a4961ceda7c502e.jpg" alt="giraf">
            </a>
        </div>

        <div>
            <p class="animal-name">Crocodile</p>
            <a href="/crocodile">
            <img src="/img/large-American-alligator-Alligator-mississippiensis-in-Myakka-River-State-Park-wetland-and-marsh-Sarasota-Florida.webp"
                 alt="Crocodile">
            </a>
        </div>

        <div>
            <p class="animal-name">Hyena</p>
            <a href="/hyena">
            <img src="/img/Ca5c8d994b7e3c9b29d6ea3a60ac619c.webp" alt="Hyena">
            </a>
        </div>

    </div>

</div>
<br>
<br>

</body>
</html>